@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

header h1 {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #FFFFFF;
    background-color: #064661;
    padding-left: 72px;
    padding-top: 42px;
    padding-bottom: 42px;
}

header img {
    width: 100%;
}

section {
    width: 1138;
    height: 196;
    margin: 72px;
}

section h2 {
    font-family: "Limelight", sans-serif;
    color: #064661;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

}

section p {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #262626;

    margin-top: 30px;
}

section img{
    width: 538px;
}